<div class="container">

<div gd-welcome></div>

<br><br><br>
<gd-contact-card>   </gd-contact-card>

<br><br><br>
<div gd-contact-card></div>

<br><br><br>

<div gd-background-change>
</div>

<div gd-transclude-example> 
	Some stuff <button> PressMe </button>  
</div>
<br><br>

<!-- <div ng-repeat="person in ctrl.persons">
  <div gd-person-display></div>
</div> -->

<!--   <div gd-person-value 
      first-name="{{ctrl.person1.fname}}"
      last-name="Dagher"></div> -->

<!-- <div ng-repeat="person in ctrl.persons">
  <div gd-person-value 
      first-name="{{person.fname}}"
      last-name="{{person.lname}} is Cool"></div>
</div> -->

<div gd-person-name-space="ctrl.person1"></div>

<div ng-repeat="personObject in ctrl.persons">
  <div gd-person-reference
      person="personObject"
      on-remove="ctrl.removePerson(personToRemove)"></div>
</div>

</div>
